<table class="game_board">
<% @active_gameboard.each_with_index do |row, index|%>
<tr class="row_<%= index %>">
 <% row.each_with_index do |val, index| %>
 <td class="col_<%= index %>"><%= val %></td>
 <% end %>
</tr>
<% end %>
</table>
<button class="fire-missile" rel="fire-missile">Fire Missile!</button>

<div class="main"></div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    jQuery(function($){
      Battleship.start({
       coordinates: <%= raw @active_gameboard.to_json %>
      });
    });
  <% end %>
<% end %>
